@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap');


/* reset--------------------------------------------------------------------------------  */
html,body{ margin:0; padding:0; width:100%; height:100%; font-family:'Roboto Slab'; }
body{ background:#000; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
ul,li{list-style:none;}
a{text-decoration:none; color:#000;}


/* navigation style--------------------------------------------------------------------------------  */
.nav{width:100%;height:auto;  background:rgb(0, 0, 0); display:flex; padding:10px 0; border-bottom:5px solid #fff;}
.nav h1{margin-top:0; margin-bottom:0;padding-left:5%;}
.nav p{margin-left:75%;}
.nav p i{font-size:50px; color:rgb(0, 89, 255); }
.nav p i:hover{color:rgb(129, 51, 255);}

.back{margin-top:30px;padding-left:10px; position:fixed; z-index: 999;}



.photoBox{width:100%; height:700px; max-width: 1500px; margin:auto; background:rgba(0, 0, 0, 0.6);margin-top:50px; padding:20px}
.photoBox .photoCon{width:100%; height:auto; text-align: center; margin-top:80px;}
.photoBox .photoCon .photoImg img{width:700px; height:auto; }
.photoBox .photoCon .photoTxt{margin-top:10px;}
.photoBox .photoCon .photoTxt span{color:#fff; margin-top:10px;}
.photoBox .photoCon .photoTxt p{color:#eee;}
