@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap');


/* reset--------------------------------------------------------------------------------  */
html,body{ margin:0; padding:0; width:100%; height:100%; font-family:'Roboto Slab'; }
body{background: url(/portfolio/img/bulb.jpg) no-repeat 50% 50%  fixed;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding-bottom:50px;}
ul,li{list-style:none;}
a{text-decoration:none; color:#000;}



/* section style */
section{width:100%; height:auto; max-width: 900px; margin:auto; background:#fff; padding:20px; margin-top:50px; _margin-bottom:500px;}

/* tit style */
.titBox{display:flex; }
.titBox .titImg{_border:1px solid #000;}
.titBox .titCon{font-size:30px; padding-left:50px;}
.titBox .titCon h1{margin:0;}
.titBox .titCon p{margin:0; color:#bbb; font-family: none; _font-size:20px;}
.titBox button{width:250px; height:30px; font-weight: bold;}

/* contants style */
.conImg{text-align: center; margin-top:50px; padding-top:50px; padding-bottom: 50px; background:rgb(245, 245, 245);}


.contantsBox_01 .exBox li{margin-top:20px;}



.contantsBox_02{ margin-top:50px; }
.contantsBox_02 h2{margin:0; padding:20px 0;}
.structureBox{width:auto; height:auto; _display:flex; padding:20px; background:#eee;padding-bottom: 50px;}
.structureBox img{width:100%; border:1px solid #000;}
.layoutBox{display:flex;  padding:20px; background:#eee; padding-bottom: 50px;}
.layoutBox img{width:100%; height:auto; border: 1px solid #000; _margin-left:10px;}


.colorBox1 .colorBox{width:100%; height:auto; display:flex; font-weight: 500; margin-bottom: 60px;;}
.colorBox1 .colorBox li{ margin-left:50px; }
.colorBox1 .colorBox li div{width:50px; height:50px; border-radius: 50%; margin-left:5px;}
.colorBox1 h3{margin-left:20px;}

.colorBox2 .colorBox{width:100%; height:auto; display:flex; font-weight: 500; margin-bottom: 60px;}
.colorBox2 .colorBox li{ margin-left:50px; }
.colorBox2 .colorBox li div{width:50px; height:50px; border-radius: 50%; margin-left:5px;}
.colorBox2 .colorBox li .color1{border:1px solid #000;}
.colorBox2 h3{margin-left:20px;}

.contantsBox_04{margin-top:50px; } 
.contantsBox_04 .language{font-size:20px; text-align: center; margin:auto;}
.contantsBox_04 .language tr td{padding:0 40px;}


.login{margin-top:50px; padding-bottom: 100px;}
.login .loginBox{display:flex;justify-content: center; font-family: none;}
.login .loginBox .loginTit{padding:0 100px; margin:0; }
.login .loginBox .loginTit li{margin-top:10px;font-size:20px;}
.loginBox h3{font-size:30px;}

