@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap');

/* reset--------------------------------------------------------------------------------  */
html,body{ margin:0; padding:0; width:100%; height:100%; font-family:'Roboto Slab'; background:url(/portfolio/img/night.jpg) no-repeat 50% 50% ;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
ul,li{list-style:none;}
a{text-decoration:none; color:#000;}


/* navigation style--------------------------------------------------------------------------------  */
header{z-index: 999; position:fixed;}
.nav{width:100%;height:auto; background:rgba(255,255,255,0.7); display:flex; position:fixed;}
.nav .navTit{width:100%;  height:auto; display:flex;}
.nav h1{margin:5px 0 5px 5%;} 
.nav .navTit{margin-left:10%;}
.nav .navTit li{margin-left:100px; font-size:20px; line-height:50px;}

/* section_01 style-------------------------------------------------------------------------------- */
#section_01{background:#FFF0F5;}

.mainImg{position:absolute; top:20%; left:50%; transform:translate(-50%, 0);}
.mainImg .welcomeImg{display:none;}
.mainImg .dethImg{text-align: center; animation:ani 0.8s infinite alternate; display:none;}
@keyframes ani{0%{transform:translate(0,0);}
100%{transform:translate(0,30px);}
}  

.boxImg{ text-align:center; position:absolute;  top:60%; left:50%; transform:translate(-50%, 0);}
 #mainBoxImg2{display:none;}
 #mainBoxImg3{display:none;}
.boxImg span:hover #mainBoxImg2{display:block;}
.boxImg span:hover #mainBoxImg1{display:none;}

.mainTit{position:absolute; top:50%; left:5%; text-shadow: 1px 1px 5px hotpink; display:none;}
.mainTit h2{font-size:100px; color:#fff; margin:0; font-weight:600;}
.mainTit p{font-size:30px;margin:0;}
.tree{ display:none; margin-bottom:300px;}
/* section_02 style--------------------------------------------------------------------------------  */
#section_02{background:#111;}

.profile{width:100%;height:auto;max-width: 80%; margin-left:100px; border-bottom:10px solid rgb(255, 196, 0);padding-top:100px;  }
.profile h3{font-size:50px; margin:10px 0 1px 0; color:gold;}

.profileBox{width:100%;height:auto; display:flex; color:#fff; max-width:1500px; margin:auto;}

.profileCon1{width:350px; height:auto; padding-right:50px; border-right:4px solid #fff; margin-top:8%; padding-left:50px;}
.profileCon1 .profileImg{width:100%; height:auto;   padding-left:50px; }
.profileCon1 .profileImg img{width:200px; height:auto;}

.profileCon1 .introduce{width:350px; height:auto; _margin-left:170px;}
.profileCon1 .introduce .introduceTxt{color:gold; margin-top:50px;}
.profileCon1 .introduce .introduceTxt li{margin-top:15px;}
.profileCon1 .introduce .introduceTxt li span{margin-left:8px; color:#fff;}

.profileCon2{width:1000px; height:auto;}
.career{width:1000px; height:auto; display:flex; margin-top:8%;}
.career .careerCon{color:gold; font-size:30px; margin-left:50px;}
.career .careerCon li{ font-size:18px; margin-top:30px;}
.career .careerCon li span{color:#fff;}

.career .licenseCon{color:gold; font-size:30px;}
.career .licenseCon li{color:#fff; font-size:18px; margin-top:30px;}
.career .licenseCon li span{font-size:10px;}

/* section_03 style -------------------------------------------------------------------------------- */
#section_03{background: url(/portfolio/img/bulb.jpg) no-repeat 50% 50% ; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

.portfolioTit{width:100%;height:auto;max-width: 85%; margin-left:100px; border-bottom:10px solid #fff; padding-top:100px;  }
.portfolioTit h3{font-size:50px; margin:10px 0 1px 0; color:#fff;}
.fp-tableCell{padding:0;}

.slideBox{width:100%; height:auto; display:flex; justify-content: center; padding-top:40px;}
.slideBox .webImg img{width:100%x; height:auto;}
.slideBox .webConBox{width:700px; height:589px;margin-right:20px;}
.webConBox{background:rgba(255,255,255,0.3);}
.webConBox .webTit .webCon{color:#444; font-size:50px; padding-left:10px; margin-left:30px; font-weight: 900; padding-right:30px;}
.webConBox .webTit .webCon li{ font-size:20px;  margin-top:42px;  font-weight:600; font-family: none;}
.webConBox .webBtn{padding:50px;}
.webConBox .webBtn button{width:30%;height:40px; background:#fff; border:0; font-weight:600; font-size:20px; cursor:pointer;}
.webConBox .webBtn button:hover{background:#444; color:#fff;}

/* section_04 style--------------------------------------------------------------------------------  */
#section_04{background:rgba(0, 0, 0, 0);}

.otherTit{width:100%;height:auto;max-width: 80%; margin-left:100px; border-bottom:10px solid #fff; padding-top:100px;  }
.otherTit h3{font-size:50px; margin:10px 0 1px 0; color:#fff;}

.otherContaner{display:flex; width:100%; height:auto; padding-top:150px; justify-content: center;}

.otherBox .otherOverlay{position:absolute; display:none;}
.otherBox .otherOverlay h3{color:#fff; text-shadow: yellow;}
.otherBox:hover .otherOverlay{display:block;}
.otherBox{text-align: center; margin-left:50px;}
.otherBox h3{color:#777;}

/* section_05 style--------------------------------------------------------------------------------  */
#section_05{background:#fff;}

.aboutTit{width:100%;height:auto;max-width: 80%; margin-left:100px; border-bottom:10px solid	rgb(75, 153, 255); padding-top:100px;  }
.aboutTit h3{font-size:50px; margin:10px 0 1px 0; color:	rgb(75, 153, 255);}
.skill{text-align: center; background:rgba(255,255,255,0)}
.skill h4{font-size:30px; color:	rgb(75, 153, 255);}
.skill .skillImg{display:flex; justify-content: center; margin-right:10%;}
.skill .skillImg li{ margin-left:3%; display:inline-block;}
.skill .skillImg li:last-child{border:1px solid #ddd;}

.skill .skillBar{display:flex; justify-content: center;margin-right:10%;}
.skill .skillBar li{margin-left:3%; display:inline-block;}

.promise{text-align: center; padding-top:80px; width:100%; height:60%; ; background:url(/portfolio/img/promisebackground.png) no-repeat 0 -183px;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;position:absolute;}

.promise h4{font-size:30px; margin:0; color:	rgb(75, 153, 255);}
.promiseBox{width:100%; height:200px; max-width: 1200px; margin:0 auto;}

.promiseBox .promiseTxt{padding-top:25px;}
.promiseBox .promiseTxt li{font-size:20px; font-weight: bold; color:#000;}



/* section_06 style--------------------------------------------------------------------------------  */
#section_06{background:#f6e9ff;}

.contactTit{width:100%;height:auto;max-width: 80%; margin-left:100px; border-bottom:10px solid #333; padding-top:100px;  }
.contactTit h3{font-size:50px; margin:10px 0 1px 0; color:#333;}

.center{width:1200px; height:auto; display:flex;}
.center .contactBox{ padding-top:150px; margin:0 10%; }
.center .contactBox h5{font-size:50px;}
.center .contactBox h5 span{margin-left:200px;}




.msgBox{ width:600px; height:250px;  border:3px solid rgb(197, 166, 255); margin-top:150px;}
textarea{width:100%; height:200px; resize:none; border:0; padding:0}
.msgBox button{width:100%; height:50px; background:rgb(197, 166, 255); border:0; color:#fff;  font-size:20px; font-weight: bold; cursor:pointer;}


.lowSec{width:1200px; height:auto; display:flex; margin:0;}
.snsLow{ margin:0; width:800px; height:auto; margin-left:150px;}
.contactSns{display:flex;}
.contactSns li{margin-left:50px;}
.contactSns li:hover img{padding:10px 0;}
.contactSns li img{width:100px; height:auto;}

.dethCat{width:400px; height:auto; margin-left:250px; animation:ani 0.8s infinite alternate;}