@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


/* reset--------------------------------------------------------------------------------  */
html,body{ margin:0; padding:0; width:100%; height:100%; font-family:'Roboto Slab'; }
body{background:#eee;}
ul,li{list-style:none;}
a{text-decoration:none; color:#000;}


/* navigation style--------------------------------------------------------------------------------  */
.nav{width:100%;height:auto;  background:rgb(255,255,255); display:flex; padding-top:10px;}
.nav h1{margin-top:0; margin-bottom:0;padding-left:5%;}
.nav p{margin-left:70%;}
.nav p i{font-size:50px; color:rgb(0, 89, 255);}
.nav p i:hover{color:rgb(129, 51, 255);}

.back{margin-top:30px;padding-left:10px; position:fixed; z-index: 999;}
.back a img{color:#000;}


/* section style */
section{width:100%; height:auto; max-width: 1200px; margin:auto; background:#fff; margin-top:50px;  text-align: center;}

.headerContainer{width:100%; height:auto; background:rgb(27, 27, 61); padding:100px 0 300px 0;  }
.headerContainer .headerBox{width: 25%; height:auto; border:3px solid #fff; margin:0 auto; font-size:25px; font-family:'Dancing script'; background:rgb(27, 27, 61); z-index: 999;}
.headerContainer .headerBox h1{color:#fff;}
.headerContainer .headerBox h1 span{color:yellow;}
.headerContainer .headerBox p{color:#fff;  font-family:'Dancing Script';}

.headerContainer .headerBox2{width:350px; height:350px; border:1px solid #fff; position:absolute; margin-top:-300px;margin-left:500px;}
.headerContainer p{color:#fff;}
.headerContainer p span{color:tomato;}

.bannerBox .bannerImg1{margin-top:-200px;}
.bannerBox p{color:#555; position:absolute; font-family:'Dancing Script'; top:1200px; font-size:50px;padding-left:30px; }

.bannerBox .bannerImg2{width:80%; height:auto;margin-left:450px; margin-top:-300px;}
.bannerBox .bannerImg2 img{width:400px;}

.bannerBox2{width:100%; height:1000px; background:#ddd; margin-top:-650px}
.bannerBox2 .company{padding-top:250px; color:#777;}
.bannerBox2 p{margin:0; font-family: 'Dancing Script'; font-size:30px; margin-right:550px;}
.bannerBox3 .bannerImgBox{ margin-left:0; margin-top:-430px;}
.bannerBox3 .bannerImgBox img{width:320px; height:auto; }

.bannerBox4{margin-top:300px;}
.bannerBox4 h1{font-size:50px; font-family:'Dancing Script'; color:#777;}
.bannerBox4 .deal{display:flex;}
.bannerBox4 .deal img{width:400px;}

footer{margin-top:150px; text-align: center; background:#fff; padding:20px 0;}